body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    background-image: url('https://wallpapercave.com/wp/wp6602988.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}
label{
    font-size: x-large;
}
input{
    margin-top: 20px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
    outline: none;
}
button{
    padding: 7px 15px;
    border: none;
    border-radius: 5px; 
    background-color: #3498db; 
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
button:hover{
    background-color: #2980b9;
    color: white;
    font-weight: 600px;
    border-radius: 5px solid;
}

.show{
    block-size: 30px;
    border-radius: 5px solid;
    width: 200px;
    font: weight 600px;
    margin-top: 20px;
}
.div1{
    width: 650px;
    height: 300px;
    background-color: rgba(185, 184, 192, 0.305); 
    backdrop-filter: blur(10px);
    text-align: center;
    border-radius: 15px;
    margin-top: 230px;
    margin-bottom: 134px;

    
}
@media screen and (max-width: 768px) {
    .div1{
        height: 400px;
        margin-top: 120px;
    }

  }
